# Build artifacts
/public
/assets/css/compiled/
/resources/_gen/
/static/pagefind/
.hugo_build.lock

# Dependencies / vendored
node_modules
package-lock.json
themes/

# Hugo Go templates (not valid HTML, prettier can't parse the `{{ }}` actions)
# Will look into "prettier-plugin-hugo-post" and "prettier-plugin-go-template" later on
layouts/
