{{ $site := .Site }}
{{ if isset . "ctx" }}
        {{ $site = .ctx.Site }}
{{ end }}

{{ $label := "Get started" }}
{{ if (isset . "label") }}
        {{ $label = .label }}
{{ end }}

{{ $labelShort := "Start" }}
{{ if (isset . "labelShort") }}
        {{ $labelShort = .labelShort }}
{{ end }}

{{ $href := (printf "/docs/%s/quickstart/quickstart/" $site.Params.latest) }}
{{ if (isset . "href") }}
        {{ $href = .href }}
{{ end }}

{{ partial "cta/based-button.html" (dict
        "href" $href
        "label" $label
        "target" "_blank"
        "labelShort" $labelShort
        ) }}
