<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "common/header/header.html" . }}
    <main class="min-h-[calc(100dvh-18rem)]">
      {{ block "main" . }}{{ end }}
      <div>
        {{ partial "components/common/toast.html" . }}
        {{ partial "common/modals/book-a-demo-modal.html" . }}
        {{ partial "common/search/search-modal.html" . }}
      </div>
    </main>
    {{ partial "common/footer/footer.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
