<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ $js := slice
      (resources.Get "js/main/github.js")
      (resources.Get "js/main/discord.js")
      (resources.Get "js/main/header.js")
      | resources.Concat "js/compiled/bundle.js"
      | minify | fingerprint
    }}
    <script src="{{ $js.RelPermalink }}" defer></script>
  </head>
  <body>
    {{ partial "common/header/header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "common/footer/footer.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
