<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ $js := slice
      (resources.Get "js/main/github.js")
      (resources.Get "js/main/discord.js")
      (resources.Get "js/main/header.js")
      (resources.Get "js/main/home-scroll.js")
      (resources.Get "js/main/toast.js")
      (resources.Get "js/main/newsletter.js")
      (resources.Get "js/main/download.js")
      (resources.Get "js/main/contact.js")
      (resources.Get "js/main/integrations-filter.js")
      (resources.Get "js/main/posts-filter.js")
      (resources.Get "js/main/book-demo-modal.js")
      (resources.Get "js/main/axeptio.js")
      | resources.Concat "js/compiled/bundle.js"
      | minify | fingerprint
    }}
    <script src="{{ $js.RelPermalink }}" defer></script>
  </head>
  <body>
    {{ partial "common/header/header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
      <div>
        {{ partial "components/common/toast.html" . }}
        {{ partial "common/modals/book-a-demo-modal.html" . }}
      </div>
    </main>
    {{ partial "common/footer/footer.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
