{{ if site.Params.fathomAnalytics.site }}
  {{ partial "analytics/fathom.html" . }}
{{ end }}
{{ if site.Config.Services.GoogleAnalytics.ID }}
  {{ partial "analytics/ga.html" . }}
{{ end }}
{{ if site.Params.umamiAnalytics.websiteid }}
  {{ partial "analytics/umami.html" . }}
{{ end }}
{{ if site.Params.selineAnalytics.token }}
  {{ partial "analytics/seline.html" . }}
{{ end }}

{{/* PromptWatch ingest script (site-level partial). Enable via config: [params.promptwatch].enabled = true */}}
{{ if site.Params.promptwatch.enabled }}
  {{ partial "analytics/promptwatch.html" . }}
{{ end }}

