/* Space Grotesk - variable */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/spacegrotesk_variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
}

/* Inter - variable */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter_variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
}

html {
  font-family: "SpaceGrotesk", sans-serif;
}

.docs-font {
  font-family: "Inter", sans-serif;
}
