<!-- JS: assets/js/main/header.js -->

{{ $logoDark := resources.Get "img/logos/plakar-logo-dark.svg" }}

<header id="site-header" class="fixed flex px-2 py-2 md:px-4 top-0 inset-x-0 w-full z-50 bg-neutral-50 border-b border-neutral-300">
  <div class="flex mx-auto w-full max-w-350 justify-between relative px-2 md:px-6">
    <div class="flex items-center space-x-4">
      <!-- Logo -->
      <a href="/" class="block md:w-32 w-28 pb-0.5">
        <span class="block">{{ $logoDark.Content | safeHTML }}</span>
      </a>

      <!-- Docs label -->
      <span class="hidden sm:block text-sm text-neutral-400 font-medium border-l border-neutral-300 pl-4">OSS Docs</span>
    </div>

    <div class="flex flex-row items-center space-x-2">
      <!-- GitHub badge -->
      {{ partial "components/badges/github-badge.html" (dict
        "format" "star_light"
        "ctx" .
      ) }}

      <!-- Demo button -->
      {{ partial "components/buttons/base-button.html" (dict
        "label" "Book a demo"
        "labelShort" "Demo"
        "class" "book-a-demo-modal-open"
      ) }}
    </div>
  </div>
</header>
