{{ $nestor := resources.Get "img/nestor/dance.svg" }}

<div class="mt-6 rounded-xl bg-primary-500 text-neutral-50 p-5 flex flex-col gap-4">

  <!-- Title + mascot -->
  <div class="flex flex-col items-center gap-3 text-center">
    <span class="text-lg font-medium">You liked this article?</span>
    {{ if $nestor }}
      <img src="{{ $nestor.RelPermalink }}" alt="Nestor" class="w-26 h-26">
    {{ end }}
  </div>

  <!-- Share it -->
  <div class="flex items-center justify-between border-t border-primary-400 pt-4">
    <span class="text-base">Share it</span>
    <div class="flex items-center gap-3">
      <a href="https://bsky.app/intent/compose?text={{ .Title | urlize }}%20{{ .Permalink }}" target="_blank" class="w-6 h-6 text-neutral-50">
        {{ partial "icon.html" "bluesky" }}
      </a>
      <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title | urlize }}" target="_blank" class="w-6 h-6 text-neutral-50">
        {{ partial "icon.html" "ri/reddit-line" }}
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank" class="w-6 h-6 text-neutral-50">
        {{ partial "icon.html" "ri/linkedin-box-fill" }}
      </a>
      <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title | urlize }}" target="_blank" class="w-6 h-6 text-neutral-50">
        {{ partial "icon.html" "ri/twitter-x-line" }}
      </a>
    </div>
  </div>

  <!-- Join us -->
  <div class="flex items-center justify-between border-t border-primary-400 pt-4">
    <span class="text-base">Join us</span>
    <div class="flex items-center gap-3">
      <a href="https://discord.gg/{{ .Site.Params.discord.inviteCode }}" target="_blank" class="w-6 h-6 translate-y-1 text-neutral-50">
        {{ partial "icon.html" "discord" }}
      </a>
      <a href="{{ .Site.Params.socials.reddit }}" target="_blank" class="w-6 h-6 text-neutral-50">
        {{ partial "icon.html" "ri/reddit-line" }}
      </a>
    </div>
  </div>

  <!-- Help us -->
  <div class="flex items-center justify-between border-t border-primary-400 pt-4">
    <span class="text-base">Help us</span>
    <div class="flex items-center gap-3">
      <a href="https://github.com/{{ .Site.Params.github.organization }}/{{ .Site.Params.github.repository }}" target="_blank" class="w-5.5 h-5.5 text-neutral-50">
        {{ partial "icon.html" "github" }}
      </a>
    </div>
  </div>
</div>
