{{ define "main" }}

{{ $nestorSupport := resources.Get "img/nestor/nestor-support.png" }}

<section class="section-light-2 grid-background pt-28 mb-20">
  <div class="bg-gradient-section-light-1 p-2 lg:p-4 flex flex-col items-center text-center gap-8">
    <div class="max-w-5xl flex flex-col gap-6">
      <img src="{{ $nestorSupport.RelPermalink }}" alt="Nestor Support" class="w-64 h-64 mx-auto object-contain" />
      <h1 class="font-medium text-2xl lg:text-4xl text-neutral-900 leading-tight">
        Page Not Found
      </h1>
    </div>
    <div class="max-w-3xl text-lg text-neutral-600 leading-relaxed space-y-4">
      <p>The page you're looking for doesn't exist. It might have been moved, deleted, or the URL might be incorrect.</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mt-4">
      {{ partial "components/buttons/base-button.html" (dict
        "label" "Return Home"
        "icon" "ri/arrow-go-back-line"
        "href" "/"
      ) }}
      {{ partial "components/buttons/base-button.html" (dict
        "label" "View Documentation"
        "href" "/docs/v1.0.6"
        "bgColor" "bg-neutral-300"
        "bgHoverColor" "bg-neutral-100"
        "textColor" "text-neutral-900"
      ) }}
    </div>
  </div>
</section>

{{ end }}
