{{ $ctx := . }}
{{ if isset . "context" }}
    {{ with .context }}
        {{ $ctx = . }}
    {{ end }}
{{ end }}

{{ $badgeSize := 5 }}
{{ if isset . "badgeSize" }}
    {{ $badgeSize = $.badgeSize }}
{{ end }}

{{ $shareText := "" }}
{{ if isset . "shareText" }}
    {{ $shareText = $.shareText }}
{{ end }}

{{ $shareURL := "" }}
{{ if isset . "shareURL" }}
    {{ $shareURL = $.shareURL }}
{{ end }}

{{ $riLinkedinFill := resources.Get "img/ri/linkedin-box-fill.svg" }}
{{ if $ctx.Site.Params.linkedin.enabled  | default false }}
    {{ $linkedinCompanyID := $ctx.Site.Params.linkedin.companyID | default "" }}

    {{ $href := "" }}
    {{ if $shareURL }}
        {{/* Avec URL de partage */}}
        {{ $href = printf "https://www.linkedin.com/sharing/share-offsite/?url=%s" ($shareURL | urlquery) }}
    {{ else }}
        {{/* Sinon profil entreprise */}}
        {{ $href = printf "https://www.linkedin.com/company/%s" $linkedinCompanyID }}
    {{ end }}

    <a class="flex items-center space-x-2"
       href="{{ $href }}"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="Visit us on LinkedIn">
    <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">
      {{ $riLinkedinFill.Content | safeHTML }}
    </span>
    </a>
{{ end }}
