{{ $p := . }}

{{ $stageColors := dict
  "stable"      "text-green-800 bg-green-50"
  "beta"        "text-neutral-900 bg-neutral-50"
  "coming soon" "text-neutral-600 bg-neutral-100 border-neutral-200"
}}

{{ $image := resources.Get $p.Params.image }}
{{ $stageClass := index $stageColors (lower $p.Params.stage) | default "text-neutral-600 bg-neutral-100" }}

<a href="{{ $p.Permalink }}" data-categories="{{ delimit $p.Params.categories "," }}" data-name="{{ lower $p.Title }}" data-date="{{ $p.Date.Unix }}" class="group/card flex flex-col gap-4 p-4 rounded-lg border border-neutral-200 bg-neutral-100 shadow-xl outline-8 outline-neutral-400/20 hover:shadow-none transition-all duration-300">
  <div class="flex items-start justify-between gap-3">
    <div class="w-16 h-16 rounded-lg overflow-hidden shrink-0 bg-neutral-100 flex items-center justify-center">
      {{ if $image }}
        <img src="{{ $image.RelPermalink }}" alt="{{ $p.Title }}" class="w-full h-full object-cover">
      {{ else }}
        <span class="w-6 h-6 text-neutral-400">{{ partial "icon.html" "plug-line" }}</span>
      {{ end }}
    </div>
    {{ with $p.Params.stage }}
      <span class="text-sm font-medium px-2 py-1 rounded-md {{ $stageClass }} uppercase shrink-0">
        {{ . }}
      </span>
    {{ end }}
  </div>

  <!-- Title -->
  <div class="flex flex-col gap-1">
    <div class="flex items-center gap-2">
      <h3 class="text-lg lg:text-2xl font-semibold text-neutral-900 group-hover/card:text-primary-500 transition-colors">
        {{ $p.Title }}
      </h3>
      {{ if $p.Params.new }}
        <span class="text-xxs font-semibold px-2 py-0.5 rounded-full text-neutral-50 bg-primary-500 uppercase tracking-wide shrink-0">New</span>
      {{ end }}
    </div>

    <!-- Categories -->
    {{ $categories := $p.GetTerms "categories" }}
    {{ if gt (len $categories) 0 }}
      <div class="text-xs text-primary-500 font-medium">
        {{ range $i, $cat := $categories }}
          {{ if gt $i 0 }} / {{ end }}{{ replace $cat.LinkTitle " Connector" "" }}
        {{ end }}
      </div>
    {{ end }}
  </div>

  <!-- Description -->
  {{ with $p.Params.description }}
    <p class="text-neutral-600 leading-snug -mt-1 line-clamp-3">{{ . | plainify }}</p>
  {{ end }}

  <!-- Tags -->
  {{ with $p.Params.tags }}
    <div class="flex flex-wrap items-start gap-1 self-start w-full">
      {{ range . }}
        <span class="text-sm px-2 py-0.5 rounded bg-primary-50 text-primary-500">
          {{ . }}
        </span>
      {{ end }}
    </div>
  {{ end }}

  <div class="flex items-center gap-1 mt-1 group-hover/card:text-primary-500">
    <div class="w-5 h-5">{{ partial "icon.html" "ri/corner-down-right-line" }}</div>
    <p class="text-sm font-semibold">Read more</p>
  </div>
</a>
