{{- .Store.Set "tab-index" 0 -}}
{{- $noop := .Inner -}}

{{- $group := .Get "group" -}}
{{- $default := .Get "default" -}}
{{- $tabs := .Store.Get "tabs" -}}

{{- $active := 0 -}}
{{- if $default -}}
  {{- range $i, $tab := $tabs -}}
    {{- if eq $default (index $tab "label") -}}
      {{- $active = $i -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $btnClass := "tab__button px-3 py-2 text-sm font-semibold border-b-2 border-transparent rounded-t-md bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-300 dark:hover:bg-neutral-600" -}}

<div class="tab__container w-full"{{ with $group }} data-tab-group="{{ . }}"{{ end }}{{ with $default }} data-default-tab="{{ . }}"{{ end }}>
<div class="tab__nav overflow-x-auto" role="tablist">
<div class="flex gap-1 min-w-max">
{{- range $i, $tab := $tabs -}}
  {{- $isActive := eq $i $active -}}
<button class="{{ $btnClass }}{{ if $isActive }} tab--active{{ end }}" role="tab" aria-selected="{{ cond $isActive `true` `false` }}" data-tab-index="{{ $i }}" data-tab-label="{{ index $tab "label" }}"><span class="flex items-center gap-1">{{- with index $tab "icon" }}{{ partial "icon.html" . }}{{ end }}{{ index $tab "label" -}}</span></button>
{{- end -}}
</div>
</div>
<div class="tab__content mt-4">
{{- range $i, $tab := $tabs -}}
  {{- $isActive := eq $i $active -}}
<div class="tab__panel{{ if $isActive }} tab--active{{ end }}" data-tab-index="{{ $i }}">
{{ index $tab "content" }}
</div>
{{- end -}}
</div>
</div>
