name: Build and Push Docker Image

on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Scaleway Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # @v3
        with:
          registry: ${{ secrets.SCW_REGISTRY }}
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}

      - name: Build and push
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # @v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.SCW_REGISTRY }}/www.plakar.io:latest
